2to3==1.0
asgiref==3.4.1
cachetools==4.2.1
certifi==2020.12.5
chardet==4.0.0
click==7.1.2
cycler==0.10.0
dj-database-url==0.5.0
Django==3.2.9
django-heroku==0.3.1
google-auth==1.28.1
google-auth-oauthlib==0.4.4
gspread==3.7.0
httplib2==0.19.1
idna==2.10
keyboard==0.13.5
kiwisolver==1.3.1
matplotlib==3.3.4
numpy==1.19.5
oauth2client==4.1.3
oauthlib==3.1.0
pillow==8.2.0
psycopg2==2.9.2
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycryptodome==3.10.1
pynput==1.7.3
pyparsing==2.4.7
pyqt5-plugins==5.15.2.2.1.0
python-dateutil==2.8.1
python-dotenv==0.17.0
pytz==2021.3
qt5-applications==5.15.2.2.1
qt5-tools==5.15.2.1.0.1
requests==2.25.1
requests-oauthlib==1.3.0
rsa==4.7.2
ruamel.yaml==0.15.89
scipy==1.5.4
six==1.15.0
sqlparse==0.4.2
urllib3==1.26.4
whitenoise==5.3.0
zwsp-steg-py==0.2.0
